{:exoscale.project/lib exoscale/coax
 :exoscale.project/version-file "VERSION"
 :exoscale.project/deploy? true
 :exoscale.project/pom-data
 [[:licenses
   [:license
    [:name "MIT"]
    [:url "https://opensource.org/license/mit/"]
    [:distribution "repo"]]
   [:license
    [:name "ISC"]
    [:url "https://opensource.org/license/isc-license-txt/"]
    [:distribution "repo"]]]]

 :slipset.deps-deploy/exec-args {:installer :remote
                                 :sign-releases? false
                                 :repository "clojars"}

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        net.cgrand/macrovich {:mvn/version "0.2.1"}}

 :aliases
 {:project {:deps {io.github.exoscale/tools.project {:git/sha "99e6b7aaccd9b97079341625c807b9fa0352e36d"}}
            :ns-default exoscale.tools.project
            :jvm-opts ["-Dclojure.main.report=stderr"]}

  :test-bb
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                org.clojure/test.check {:mvn/version "1.1.1"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :test-bb-cljs
  {:extra-paths ["test"]
   :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}
                org.clojure/clojure {:mvn/version "1.10.1"}
                org.clojure/test.check {:mvn/version "1.1.1"}
                org.clojure/clojurescript {:mvn/version "1.10.520"}}
   :main-opts ["-m" "cljs-test-runner.main"]}

  :test
  {:extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                lambdaisland/kaocha {:mvn/version "1.71.1119"}
                com.lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}}
   :extra-paths ["test"]
   :main-opts ["-m" "kaocha.runner"]}}}
